.videoBlock {
    position: relative;
    display: flex;
    width: max(150px, (min(300px, 15%)));
    height: auto;
    flex-direction: column;
    border-radius: 10%;
    gap: 1px;
    text-decoration: none;
    padding: 3px;
}

.videoBlock:hover {
    background-color: rgb(233, 233, 232);
}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.videoInfo {
    display: flex;
    flex-direction: row; 
    gap: 12px; 
    align-items: flex-start;
}

.logo {
    width: 19%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.videoText {
    display: flex;
    flex-direction: column;
    font-size: 80%;
}

.title {
    margin: 0; 
    color: #0f0f0f; 
    font-weight: 600;
}