PORT=8000
KEY=someLongRandomStringForSecurityPurposes
MONGODB_URI=mongodb://<username>:<password>@ac-zqf2pyv-shard-00-00.8iycpce.mongodb.net:27017,ac-zqf2pyv-shard-00-01.8iycpce.mongodb.net:27017,ac-zqf2pyv-shard-00-02.8iycpce.mongodb.net:27017/dtube?ssl=true&replicaSet=atlas-i5q08v-shard-0&authSource=admin&retryWrites=true&w=majority
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=exampl.gmail.com
SMTP_PASS=password
SMTP_FROM="DTube Support <exampl.gmail.com>"